<%var temas={otro:'Otro',humanidades:'Humanidades',ocio:'Ocio',ciencia:'Ciencia',tecnologia:'Tecnología'};%>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
<h3>Tema <%=temas[quiz.tema]%></h3> <br>
Pregunta: <%= quiz.pregunta %> <br>
<input type="text" name="respuesta" value="Respuesta"/>
<input type="submit" value="Enviar"/>
</form>

<p><a href='/quizes/<%= quiz.id %>/comments/new'><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>